<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Showcase.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets for the contacts -->
  <servlet>
    <servlet-name>contactsServiceServlet</servlet-name>
    <servlet-class>pt.isep.cms.contacts.server.ContactsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contactsServiceServlet</servlet-name>
    <url-pattern>/showcase/contactsService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets for the teachers -->
  <servlet>
    <servlet-name>teachersServiceServlet</servlet-name>
    <servlet-class>pt.isep.cms.teachers.server.TeachersMySQLServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>teachersServiceServlet</servlet-name>
    <url-pattern>/showcase/teachersService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets for the students -->
  <servlet>
    <servlet-name>studentsServiceServlet</servlet-name>
    <servlet-class>pt.isep.cms.students.server.StudentsMySQLServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>studentsServiceServlet</servlet-name>
    <url-pattern>/showcase/studentsService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets for the classes -->
  <servlet>
    <servlet-name>classesServiceServlet</servlet-name>
    <servlet-class>pt.isep.cms.classes.server.CMSClassesMySQLServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>classesServiceServlet</servlet-name>
    <url-pattern>/showcase/classesService</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets for the subjects -->
  <servlet>
    <servlet-name>subjectsServiceServlet</servlet-name>
    <servlet-class>pt.isep.cms.subjects.server.SubjectsMySQLServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>subjectsServiceServlet</servlet-name>
    <url-pattern>/showcase/subjectsService</url-pattern>
  </servlet-mapping>

</web-app>
